("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&display=swap")
*{
    padding: 0;
    margin:0;
box-sizing: border-box; 
}
html{
font-size: 10px;
font-family:"Fredoka" ;
}
a {
    text-decoration:none;
}
#journey {
    font-family: 'Shadows Into Light', cursive;

}
.container{
    min-height: 100vh;
width: 100%;
align-items: center;
justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* Hero Section */
#hero{
    background-image: url(./img/11.jpg);
    background-size:cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content:'';
position: absolute;
left: 0;
top:0;
height: 100%;
width: 100%;
background-color: black;
opacity: .7;
z-index: -1;
}
#hero .hero{
    max-width: 1200px;
margin: 0 auto;
padding: 0 50px ;
justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
position: relative;
color: transparent ;
animation: text-reveal .5s ease forwards;
animation-delay: 1.5s;
}
#hero h1:nth-child(1) {
    animation-delay: 1s;
}
    #hero h1:nth-child(2) {
        animation:text-reveal-name .5 ease forwards ;
        animation-delay: 2s;
        

}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:0;
    background-color:#FF1493;
    animation: text_reveal-box 1s ease;
    animation-delay: 1s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
    #hero h1:nth-child(2) span{
        animation-delay: 1.5s;
}
#hero .cta{
display: inline-block;
padding: 10px 30px;
color: white;
background-color: transparent;
border: 2px solid#FF1493;
font-size: 2rem;
text-transform: uppercase;
letter-spacing: .1rem;
margin-top: 30px;
transition: .3s ease background-color;
transition-property: background-color, color;
}
#hero .cta:hover{
    color: white;
    background-color:#FF1493;
}
/* End of Hero Section */

/* services section*/

    services .services{
        flex-direction: column;
        text-align: center;
        max-width: 1500px;
        margin: 0 auto;
        padding: 100pc 0;
    }
#services .section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;

}
#services .section-title span{
    color: #FF1493;
}
#services .service-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5;
    font-weight: 300px;
	letter-spacing: .05rem;
	padding-right: 35%;
}
#services .service-buttom{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/coding.jpeg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}
#services .service-buttom .icon{
height: 80px;
width: 80px;
margin-bottom: 20px;

}
.icon{
	/* background-image: url("https://img.icons8.com/dusk/64/000000/developer.png"); */
	background-repeat: no-repeat;
}
#services .service-item h2{
    font-size: 2rem;
    color: black;
    margin-bottom: 30px;
    text-transform: uppercase;

}
#services .service-item p{
    color: ;
text-align: left;

}

/* end services section*/
/* keyframes*/
@keyframes text-reveal-box{
    50%{
        width: 100%;
        left: 0;

    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text-reveal{
    100%{
        color: white;

    }
}

@keyframes text-reveal-name{
    100%{
        color:#FF1493;
        font: 500;

    }
}
/* End of keyframes*/
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
		padding-right: 13%;
	}
}
/* End  Media Query For Desktop */
.icon h2{
	padding-left: 13%;
}